
# BEGIN BackUpWordPress
# Este arquivo .htaccess garante que nenhuma outra pessoa consiga fazer o download dos seus arquivos de backup.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=892a741aec58a4d87ba0c5bc23cee59c
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress